div.map {
  height: 600px;
  min-height: 100%;
  min-width: 100%;
  z-index: 4;
}

div.settings {
  position: absolute;
  right: 30px;
  bottom: 15px;
  z-index: 5;
  width: 250px;
  background-color: #FFF;
  padding: 0 15px 15px 15px;
}

div.settings p {
  margin: 10px 0 10px 10px;
  font-size: 0.9em;
}

div.close-settings {
  padding: 10px;
  cursor: pointer;
}

div.info {
  top: 370px;
  right: 30px;
}

div.leaflet-popup-content-wrapper {
  border-radius: 0px;
}

div.leaflet-popup-content-wrapper h5 {
  font-size: 1.3em;
}

div.leaflet-popup-content-wrapper div a.valign, div.leaflet-popup-content-wrapper div p.valign {
  display: block;
  font-size: 1.2em;
  margin: 15px 0 15px 15px;
}

input.leaflet-control-layers-selector {
  position: inherit !important;
  left: inherit !important;
  visibility: visible !important;
}
