<template name="home">
  <div class="row home">
    <h2>Home</h2>
    <div class="col m6">
      <a class="dashboard-item" href="/map">
        <div class="center-align container-icon">
          <div class="sub-container">
            <i class="material-icons large">room</i>
          </div>
        </div>
        <h3 class="center-align">Map</h3>
      </a>
    </div>
    <div class="col m6">
      <a class="dashboard-item" href="/map">
        <div class="center-align container-icon">
          <div class="sub-container">
            <i class="material-icons large">room</i>
          </div>
        </div>
        <h3 class="center-align">Map</h3>
      </a>
    </div>
  </div>
</template>
