<template name="map">
  <div id="map" class="map"></div>
  <div id="settings" class="z-depth-4 settings">
    <div class="close-settings right" id="close-settings"><i class="fa fa-times"></i></div>
    <h4 class="center-align">Settings</h4>
    <div class="valign-wrapper"><i class="material-icons teal-text accent-3-text">pageview</i><p class="valign" id="map-info-z"></p></div>
    <div class="valign-wrapper"><i class="material-icons teal-text accent-3-text">room</i><p class="valign" id="map-info-c"></p></div>
    <div class="valign-wrapper"><img src="/castle.png"><p class="valign" id="nbCastles"></p></div>
  </div>
</template>
