<template name="map">
  <div id="map" class="map"></div>
  <div id="settings" class="z-depth-4 settings">
    <div class="close-settings right" id="close-settings"><i class="fa fa-times"></i></div>
    <h4 class="center-align">Settings</h4>
    <div class="valign-wrapper"><i class="material-icons teal-text accent-3-text">pageview</i><p class="valign" id="map-info-z"></p></div>
    <div class="valign-wrapper"><i class="material-icons teal-text accent-3-text">room</i><p class="valign" id="map-info-c"></p></div>
    <div class="valign-wrapper"><img src="/castle.png"><p class="valign" id="nbCastles"></p></div>
  </div>
  <div id="container-preloader" class="container-preloader">
    <div id="preloader" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</template>
