<template name="map">
  <div id="map" class="map"></div>
  <div id="settings" class="settings">
    <div class="close-settings right" id="close-settings"><i class="fa fa-times"></i></div>
    <h4 class="center-align">Settings</h4>
    <div class="valign-wrapper"><i class="material-icons green-text accent-3-text">search</i><span class="valign" id="map-info-z"></span></div>
    <div class="valign-wrapper"><i class="material-icons green-text accent-3-text">room</i><span class="valign" id="map-info-c"></span></div>
  </div>
  <div id="info" class="info">
    <h4>Informations</h4>
    <div class="valign-wrapper"><img src="/castle.png"><span class="valign" id="nbCastles"></span></div>
  </div>
</template>
