<template name="header">
  <header>
    <nav class="blue lighten-1">
      <div class="nav-wrapper container-fluid">
        <a href="/" class="brand-logo">Map Training</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons left">language</i>Home</a></li>
          <li><a href="/map"><i class="material-icons left">room</i>Map</a></li>
          <li id="show-settings"><a href="#"><i class="material-icons">settings</i></a></li>
        </ul>
      </div>
    </nav>
  </header>
</template>
