<template name="header">
  <header>
    <nav class="green accent-3">
      <div class="nav-wrapper container-fluid navbar-fixed">
        <a href="/" class="brand-logo right">OpenCastleMap</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="/"><i class="fa fa-home left"></i>Home</a></li>
          <li><a href="/map"><i class="material-icons left">room</i>Map</a></li>
          {{#if isMap}}
            <li id="show-settings"><a href="#"><i class="material-icons left">settings</i>Map settings</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="/"><i class="fa fa-home left"></i>Home</a></li>
          <li><a href="/map"><i class="material-icons left">room</i>Map</a></li>
          {{#if isMap }}
            <li id="show-settings"><a href="#"><i class="material-icons left">settings</i>Map settings</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
</template>
